<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <div class="col-lg-6">

        <label for="ProjectName">Project Name:</label>
        <input class="form-control" type="text" ng-model="ic.formInputs.projectName" placeholder="Project Name" name="ProjectName">
        <p>Project Name will be the name of your file folder.</p>
        <br>
        <label for="TableName">tableName:</label>
        <img id="camelCase" data-toggle="tool" src="../images/camelCase.png" alt="">
        <input class="form-control" type="text" ng-model="ic.formInputs.tableName" placeholder="Table Name" name="TableName">
        <p>tableName is used in your code to construct variables and file names.  Recommended to be written in camelCase</p>
        <br>
        <br>

        <label for="dbTable">Database and DOM Columns</label>
        <div name="dbTable">

            <button ng-click="ic.addProperty()">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <table class="table table-striped table-hover">
                <tr>
                    <th>
                        Column Header
                    </th>
                    <th>
                        schemaProperty
                        <img id="camelCase" data-toggle="tool" src="../images/camelCase.png" alt="">
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        <span class="glyphicon glyphicon-minus"></span>
                    </th>
                </tr>
                <tr ng-repeat="property in ic.formInputs.tableProperties track by $index">
                    <td>
                        <input type="text" ng-model="property.tableHeader" placeholder="Column Header">
                    </td>
                    <td>
                        <input type="text" ng-model="property.schemaProperty" placeholder="Schema Property">
                    </td>
                    <td>
                        <select ng-model="property.propertyType">
                            <option value="String">String</option>
                            <option value="Number">Number</option>
                            <option value="Boolean">Boolean</option>
                            <option value="Date">Date</option>
                        </select>
                    </td>
                    <td>
                        <span ng-click="ic.formInputs.tableProperties.splice($index,1)" class="glyphicon glyphicon-minus"></span>
                    </td>
                </tr>
            </table>
        </div>

        <!-- <label for="domTable">DOM Columns</label>
        <div name="domTable">
            <button>-</button>
            <button>+</button>
        </div> -->

        <br>

        <br>
        <input class="form-check-input" type="checkbox" value="" ng-model="ic.formInputs.hasDeleteButtons" name="deleteRowButton">
        <label for="deleteRowButton">Delete Row Buttons</label>
        <br>
        <input class="form-check-input" type="checkbox" value="" ng-model="ic.formInputs.hasEditButtons" name="editRowButton">
        <label for="editRowButton">Edit Row Buttons</label>
        <br>
        <input class="form-check-input" type="checkbox" value="" ng-model="ic.formInputs.hasInputForm" name="inputForm">
        <label for="inputForm">Input Row Form</label>
        <br>
        <a href="#/myCode" class="btn btn-info btn-lg">
            Generate Project
        </a>
        <a href="#/myProjects" class="btn btn-info btn-lg">
            Cancel
        </a>
      
    </div>

    <div class="col-lg-6">
        <h2>Preview Database Schema:</h2>
        <pre>
                let {{ic.formInputs.tableName}}Schema = new Schema({
                    <code ng-repeat="property in ic.formInputs.tableProperties">
                        {{property.schemaProperty}}: { type: {{property.propertyType}} },
                    </code>
                    <code ng-if="ic.formInputs.hasEditButtons">
                        //currentlyeEditingRow schema property
                        //turns true when edit button is clicked
                        // when true it will change row into 
                        //editable input fields that will
                        //update database when save is clicked
                        currentlyEditingRow: { 
                            type: Boolean,
                            default: false,
                        },
                    </code>     
                });
        </pre>
        <div>
            <h2>Preview DOM Table:</h2>
            <p>Edit and/or Delete buttons will not function in preview</p>
            <table class="table">
                <tbody>
                    <tr>
                        <th ng-if="ic.formInputs.hasEditButtons"></th>
                        <th ng-repeat="property in ic.formInputs.tableProperties">{{property.tableHeader}}</th>
                        <th ng-if="ic.formInputs.hasDeleteButtons"></th>
                    </tr>
                    <tr>
                        <td ng-if="ic.formInputs.hasEditButtons">
                            <button>edit</button>
                        </td>
                        <td ng-repeat="property in ic.formInputs.tableProperties">{{property.propertyType}}</td>
                        <td ng-if="ic.formInputs.hasDeleteButtons">
                            <button>X</button>
                        </td>
                    </tr>
                    <tr>
                        <td ng-if="ic.formInputs.hasEditButtons">
                            <button>edit</button>
                        </td>
                        <td ng-repeat="property in ic.formInputs.tableProperties">{{property.propertyType}}</td>
                        <td ng-if="ic.formInputs.hasDeleteButtons">
                            <button>X</button>
                        </td>
                    </tr>
                    <tr>
                        <td ng-if="ic.formInputs.hasEditButtons">
                            <button>edit</button>
                        </td>
                        <td ng-repeat="property in ic.formInputs.tableProperties">{{property.propertyType}}</td>
                        <td ng-if="ic.formInputs.hasDeleteButtons">
                            <button>X</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-if="ic.formInputs.hasInputForm">
                <h2>Preview Input Form:</h2>
                <p>Input form fields and buttons will not function in preview</p>
                <label for=""></label>
                <table name="inputFormPreview">
                    <tr ng-repeat="property in ic.formInputs.tableProperties">
                        <td>
                            <label for="">{{property.tableHeader}}</label>
                        </td>
                        <td>
                            <input type="text" ng-if="property.propertyType=='String'">
                            <input type="number" ng-if="property.propertyType=='Number'">
                            <input type="checkbox" ng-if="property.propertyType=='Boolean'">
                            <input type="date" ng-if="property.propertyType=='Date'">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button>Submit</button>
                        </td>
                    </tr>
                </table>


            </div>
        </div>


    </div>

</div>