<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
  <div class="content">
    <h2>Marketplace</h2>
    
    <h3>Basket Inventory</h3>
    <div  class = "inventory" ng-repeat="inventory in mc.personalInventory">
    <p>{{inventory.name}}: {{inventory.count}}</p>
  </div>
    <h3 id="welcome" class="lead">Welcome, {{mc.userObject.userName}}! You have ${{mc.userObject.money}} to spend.</h3>
  </div>
  <div class='items'ng-repeat = "item in mc.itemsArray.list" >
    <p><img ng-src="{{item.image}}" alt=""></p>
 <p>{{item.name}} Price: {{item.cost}}</p>
<button class="md-button">BUY</button>
<button class="md-button">SELL </button>
</div>
