<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

    <section id="text-demo">
        <h2>file.filetype</h2>
        <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-copy"></span> Copy
        </button>
        <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-download-alt"></span> Download
        </button>

        <textarea class="form-control" rows="10" placeholder="code">

        </textarea>
    </section>


</div>