<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <div class="content">

        <section ng-repeat="code in mc.code.list">
            <h2>{{code.filename+code.filetype}}</h2>
            <button type="button" class="btn btn-default btn-sm" ng-click="mc.copyCode(code.id)">
                <span class="glyphicon glyphicon-copy" ></span> Copy
            </button>
            <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-download-alt"></span> Download
            </button>

            <textarea id="{{code.id}}" class="form-control" rows="10" placeholder="empty code file" ng-model="code.codestring"></textarea>
        </section>
        <br>

        <table class="table container">
            <tr>
                <th>
                    <a href="#" class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-trash"></span> Trash Project
                    </a>
                </th>

                <th>
                    <a href="#" class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-floppy-disk"></span> Save Project
                    </a>
                </th>

                <th>
                    <a href="#" class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-download-alt"></span> Download Project
                    </a>
                </th>
            </tr>
        </table>


    </div>
</div>