<div ng-include="views/partials/nav.html"></div>
<div class="container">
  <div class="content">
    <div class="projectTable">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>My Projects change</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="project in pc.myProjects.list">
          <td>{{project.projectname}}</td>
          <td>
            <a href="#/myCode/getSavedProjectFiles/{{project.id}}" class="btn btn-info btn-sm">
              <span class="glyphicon glyphicon-eye-open"></span>
            </a>
          </td>
          <td>
            <button class="btn btn-info btn-sm" ng-click="pc.downloadProjectClick(project)">
              <span class="glyphicon glyphicon-download-alt"></span>
            </button>
          </td>
          <td>
            <button class="btn btn-info btn-sm" ng-click="pc.deleteProject(project)">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    <a href="#/myCode/getCode/0"  class="btn btn-info btn-lg">Generate Quick Project</a>
    <a href="#/input" class="btn btn-info btn-lg">Create Advanced Starter Project</a>
    
    
    


  </div>

  

</div>