<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
  <div class="content">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Projects</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="project in pc.myProjects.list">
          <td>{{project.projectname}}</td>
          <td>
            <button class="btn btn-info btn-sm">
              <span class="glyphicon glyphicon-eye-open"></span>
            </button>
          </td>
          <td>
            <button class="btn btn-info btn-sm" ng-click="pc.downloadProjectClick(project)">
              <span class="glyphicon glyphicon-download-alt"></span>
            </button>
          </td>
          <td>
            <button class="btn btn-info btn-sm" ng-click="pc.deleteProject(project)">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <a href="#/myCode"><button>Generate Quick Project</button></a>
    <a href="#/input"><button>Create Advanced Starter Project</button></a>
    
    
    


  </div>

  

</div>